pydantic
fastapi
uvicorn
python-multipart
orjson
httpx
einops
supabase
torch
numpy
transformers
python-docx
docx2txt
python-pptx
openpyxl
Pillow
langchain
langchain-community
langchain-ollama
langchain-core
ollama
faiss-cpu
typing-extensions
PyMuPDF         
pytesseract    # <= ajoute si tu veux l’OCR
sentence-transformers
PyPDF2
python-dotenv
langchain-groq


